#Dia

##Temario
- Tipos de datos
- Operaciones Matematicos
- Operaciones con String
- Operaciones Logicas
- Operaciones Booleanas

## Tipos de Datos

In [1]:
# Existen los Datos:
enteros = 1 # Son numeros decimales
flotantes = 3.9 # Son numeros con decimales
type(enteros)

int

In [2]:
# Caracteres/ Strings
caracteres = "@"
cadena_caracteres = "todas las letras que quiera"
type(cadena_caracteres)

str

In [3]:
# Booleanos
falso = False # falso es 0
verdadero = True # verdadero es 1

In [4]:
# imprimir
print(enteros)
print(flotantes)
print(caracteres)
print(cadena_caracteres)
print(falso)
print(verdadero)

1
3.9
@
todas las letras que quiera
False
True

### Espera, el usuario tambien puede ingresar datos.

In [5]:
# Con la funcion input, el usuario puede ingresar cualquier tipo de dato
# y podemos guardarlo en alguna variable
name = input("Mi nombre es: ") # te lo guarda como un string
print(name)


num = input("Ingresa un numero: ")
print(int(num) + 1) # <-- Convertimos 'num' a entero (int)

Mi nombre es: Antonio
Antonio
Ingresa un numero: 13
14

In [6]:
num = int(input("Ingresar un numero: "))
print(num + 1)

Ingresar un numero: 13
14

## Operaciones Matematicas

In [7]:
# 4to Nivel de importancia
# Suma Ordinaria
print("Suma Ordinaria: ")
print(3 + 4) # un 7
variable1,variable2 = 20,40 #60
print(variable1 + variable2)

# Resta Ordinaria
print("Resta Ordinaria: ")
print(2 - 5) # -3

# Declaracion de variables
print("Operacion Matematico: ")
v1 = 10.4
v2 = 15
resultado = v2 - v1
print(resultado) # 4.6

Suma Ordinaria:
7
60
Resta Ordinaria:
-3
Operacion Matematico:
4.6

In [8]:
# 3er Nivel de importancia
# Multiplicacion Ordinaria
print("Multiplicacion Ordinaria")
M1, M2 = 2,3.14
print(M1 * M2) #6.28
#Division ordinaria
print("------------------")
print("Division Ordinaria")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)
# Division de Piso
print("-----------------")
print("Division de piso")
print(M1 // M2)
print(M3 // M4)
print(M5 // M6)

print( 6 / 2 * 3)

Multiplicacion Ordinaria
6.28
------------------
Division Ordinaria
0.4
1.2
0.8
-----------------
Division de piso
0
1
0
9.0

In [9]:
# Potencias
print("Potencias")
print(2 ** 3) # 8
P1,P2 = 7,2
print(P1 ** P2) #49

Potencias
8
49

In [10]:
# Area de un circulo
pi = 3.14
r = 4
A = pi * (r ** 2)
A # A significa print,
  # en este modo o pagina o notebook funciona print como A

50.24

#Operacion String

In [11]:
HM = "Hola Mundo"
print(HM)

a,b = "ta","co"
print(a + b)

Hola Mundo
taco

In [13]:
# Animal, debe tener un nombre, le debe gustar una fruta, debe tener una profesion
Animal = "Tigre"
Nombre = "Kira"
Fruta = "Manzana"
Profesion = "Ingeniero"
print(f"Hola soy un {Animal}, mi nombre es {Nombre}, me gusta la {Fruta} y soy {Profesion}")

Hola soy un Tigre, mi nombre es Kira, me gusta la Manzana y soy Ingeniero

#Operaciones Logicas

In [14]:
# Empezamos con los operadores logicos <,>, <=,>=, and, or
# Siempre retorna un booleano<<<------

In [23]:
b1 = 4 > 5
b2 = 7 > 3
b3 = 14>14
b4 = 14>=14

In [25]:
# Quieres un sandwich con todo
pan = True
jamon = False
queso = False
lechuga = True
tomate = False
mayonesa = True
print(pan and queso and jamon and mayonesa)

False

In [26]:
print(True * 20) #TRUE EQUIVALE 1
print(False * 10) #FALSE EQUIVALE 0

20
0