#Dia 3

##Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de Datos
Las estructuras de datos son formas de organizar informacion para trabajar con ellas de manera eficiente.

- Listas -> Ordenadas , modificadas y permiten duplicados
- Tuplas -> Ordenadas , inmutables y permiten duplicados
- sets -> No ordenados y no se permiten duplicados
- Diccionarios -> Pares clave:valor

Nota:
- Pilas (FILO -> First in, Last out)
- Colas (FIFO -> First in, First out
- Listas enlazadas (o doblemente enlazadas)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [1]:
listas_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","jamon"]
print(listas_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [2]:
print(listas_de_compras[6])

jamon

In [3]:
# Agregar un elemento a la lista .append()
listas_de_compras.append("arroz")
listas_de_compras

['manzanas',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'arroz']

In [5]:
# Agregar un elemento en una posicion especifica
listas_de_compras.insert(1,"platano")
listas_de_compras

['manzanas',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'arroz']

In [6]:
print(listas_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'arroz']

In [7]:
# Para eliminar un elemento de una lista existe el remove y el pop
listas_de_compras.remove("platano")
print(listas_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'arroz']

In [8]:
listas_de_compras.pop() # Sin nada dentro del parentesis borra el ultimo elemento
listas_de_compras.pop(7) # o puedes agarrar la posicion que quieras (pero siempre importante iniciando desde 0)
# Nota: te retorna el numero eliminado

'jamon'

In [11]:
# Podemos recorrer el arreglo por medio de un for
for elementos in listas_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [12]:
# len() saca el tama√±o de la lista
print(len(listas_de_compras))
for i in range(len(listas_de_compras)):
  print(f"{i + 1} - {listas_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [16]:
#Ejemplo
import random

opciones = ["piedra", "papel", "tijeras"]

# Ciclo principal del juego
while True:
    # Ciclo para validar la entrada del usuario
    while True:
        eleccion = input("\nElige piedra, papel o tijeras (o escribe 'salir' para terminar): ")
        eleccion = eleccion.lower() # Convertir a min√∫sculas para manejar 'SALIR' o 'Piedra'

        if eleccion in opciones or eleccion == "salir":
            break
        else:
            print("Opci√≥n no v√°lida, intenta de nuevo.")

    # Si el usuario eligi√≥ salir, rompemos el ciclo principal
    if eleccion == "salir":
        print("¬°Gracias por jugar!")
        break

    aleatoria = random.choice(opciones)
    print("La computadora eligi√≥:", aleatoria)

    # Determinamos el ganador
    if eleccion == aleatoria:
        print("Empate")
    elif (eleccion == "piedra" and aleatoria == "tijeras") \
        or (eleccion == "papel" and aleatoria == "piedra") \
        or (eleccion == "tijeras" and aleatoria == "papel"):
        print("¬°Ganaste!:))")
    else:
        print("Perdiste:((")

Elige piedra, papel o tijeras (o escribe 'salir' para terminar): tijeras
La computadora eligi√≥: papel
¬°Ganaste!:))

Elige piedra, papel o tijeras (o escribe 'salir' para terminar): papel
La computadora eligi√≥: tijeras
Perdiste:((

Elige piedra, papel o tijeras (o escribe 'salir' para terminar): salir
¬°Gracias por jugar!

In [20]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() #sort() sirve para ordenar la lista de manera ascendente
print(promedios)
#ordenar una lista de manera descendente
promedios.sort(reverse=True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [21]:
#Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [23]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [28]:
#Declaracion y sus de matrices
calificaciones = [[100,88,93],[99,56,72]]
print(calificaciones)
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f"Cali {j}:{cali_j}")
    j += 1
  j = 0
  i += 1

[[100, 88, 93], [99, 56, 72]]

Alumno 1
Cali 1:100
Cali 2:88
Cali 3:93

Alumno 2
Cali 1:99
Cali 2:56
Cali 3:72

##Tuplas
Colecciones ordenadas pero inmutables.

In [29]:
# Hagamos un programa donde hagamos fechas de nacimiento de un grupo en una tupla
fechas = ("10/10/05,","22/03/02","17/04/04","25/02/04")
fechas

('10/10/05,', '22/03/02', '17/04/04', '25/02/04')

In [30]:
#Es inmutable
fechas.append("10/06/03") #Te va a marcar error

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
fecha_lista = list(fechas) # Aqui ya puedes usar los comandos basicos de una lista

## SETS

Los sets son colecciones SIN orden y que NO permiten elementos duplicados.

In [33]:
nombre = {"Angel","Eliud","Diana","Juan","Juan"}
print(nombre)
print(type(nombre))

{'Diana', 'Eliud', 'Juan', 'Angel'}
<class 'set'>

In [35]:
distintos_datos = {"Angel", 1 ,"Diana","Juan", 4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [36]:
# Add
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [1]:
# Union
matutino = {20322,22183,12355,134123}
vespertino = {20322,31231,123123,1233213}
#Union pero con .union()
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
# Union pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 12355, 22183, 134123, 123123, 1233213, 31231}
{20322, 12355, 22183, 134123, 123123, 1233213, 31231}

In [3]:
# Interseccion
ca = {1234,1234,5123,2134,1634,87543,213567}
al = {1234,1111,2222,3333,444}
#interseccion con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
#interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [6]:
# Diferencia
# Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)

# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{1634, 5123, 2134, 87543, 213567}
{1634, 5123, 2134, 87543, 213567}

In [26]:
nombre = {"Angel","Eliud","Diana","Juan","Juan"}
#remove, pop
#nombre.remove("Angel") #Puedes eliminar el que tu quieras
print(nombre)
nombre.pop() #Elimina un elemento de manera aleatoria
print(nombre)

{'Angel', 'Diana', 'Eliud', 'Juan'}
{'Diana', 'Eliud', 'Juan'}

In [20]:
# Eliminar todo el SET
nombre.clear()
nombre

set()

## Diccionarios
Los diccionarios son clecciones no ordenadas de pares clave:valor

In [27]:
alumno = {
    #clave     valor
    "nombre": "Eliud Sanchez",
    "edad": 21,
    "carrera": "LCC",
    "semestre": 7,
    "promedio": 88,
    "calificaciones": [100,94, 94 ,97, 100]

}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Eliud Sanchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100]}

In [29]:
print("El alumno", alumno["nombre"], " esta estudiando " , alumno ["carrera"])

El alumno Eliud Sanchez  esta estudiando  LCC

In [31]:
#Agregar al diccionario
alumno["area preferida"] = "Ciencia de Datos"
alumno

{'nombre': 'Eliud Sanchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [32]:
for valor in alumno:
  print(alumno[valor])

Eliud Sanchez
21
LCC
7
88
[100, 94, 94, 97, 100]
Ciencia de Datos

In [35]:
for aspecto, valor in alumno.items():
  #devuelve una vista de todos los pares clave:valor del diccionario
  print(aspecto,":", valor)

nombre : Eliud Sanchez
edad : 21
carrera : LCC
semestre : 7
promedio : 88
calificaciones : [100, 94, 94, 97, 100]
area preferida : Ciencia de Datos

In [38]:
# El metodo .clear() tambien usar aqui.
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Eliud Sanchez

In [41]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Eliud Sanchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')])
<class 'dict_items'>
[('nombre', 'Eliud Sanchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')]
<class 'list'>

In [42]:
#El metodo .values() sirve para obtener los values del diccionario, tambien se puede usar en la interaccion
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Eliud Sanchez', 21, 'LCC', 7, 88, [100, 94, 94, 97, 100], 'Ciencia de Datos'])

In [44]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [45]:
#.copy() puedes copiar todo el diccionario en una nueva variable
# Update -> Sirve para cambiar los valores (valores) (.update())
alumno.update({"semestre":6})
alumno

{'nombre': 'Eliud Sanchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 6,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [46]:
# üçé 1. INICIALIZACI√ìN DE DATOS (Variables y Estructuras)
# --- LISTA: Nombres de productos ---
PRODUCTOS = ["manzana", "banana", "leche", "pan"]

# --- TUPLA: Precios correspondientes ---
PRECIOS = (10, 5, 20, 15)

# --- SET: Productos en oferta (para b√∫squeda r√°pida) ---
OFERTAS = {"manzana", "pan"}

# --- DICCIONARIO: Inventario (Clave: producto, Valor: {precio, stock}) ---
INVENTARIO = {
    PRODUCTOS[i]: {"precio": PRECIOS[i], "stock": 10}
    for i in range(len(PRODUCTOS))
}


# üõí 2. FUNCI√ìN DE VISUALIZACI√ìN (Muestra el estado actual del inventario)
def mostrar_inventario(inventario_actual, productos_oferta):
    """Imprime el inventario con precios, stock y estado de oferta."""
    print("\n--- INVENTARIO DE TIENDA ---")
    for producto in PRODUCTOS:
        info = inventario_actual.get(producto, None)
        if not info:
            continue

        es_oferta = "OFERTA!!!" if producto in productos_oferta else "Grandes precios!"
        print(
            f"{producto.title():<8} - ${info['precio']:<4} - Stock: {info['stock']:<2} -> {es_oferta}"
        )


# üõçÔ∏è 3. L√ìGICA PRINCIPAL (Mostrar y Comprar)
mostrar_inventario(INVENTARIO, OFERTAS)

# Compra simple
compra = input("\n¬øQu√© producto quieres comprar? ").strip().lower()

if compra in INVENTARIO and INVENTARIO[compra]["stock"] > 0:
    INVENTARIO[compra]["stock"] -= 1
    print(
        f"Compraste 1 {compra}. Stock restante: {INVENTARIO[compra]['stock']}"
    )
    # Opcional: Mostrar el inventario actualizado despu√©s de la compra
    # mostrar_inventario(INVENTARIO, OFERTAS)
else:
    print("Producto no disponible o sin stock.")

--- INVENTARIO DE TIENDA ---
Manzana  - $10   - Stock: 10 -> OFERTA!!!
Banana   - $5    - Stock: 10 -> Grandes precios!
Leche    - $20   - Stock: 10 -> Grandes precios!
Pan      - $15   - Stock: 10 -> OFERTA!!!

¬øQu√© producto quieres comprar? Manzana
Compraste 1 manzana. Stock restante: 9